/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

/****** Header ********/

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
}

header > img {
    width: 70px;
    height: 22px;
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
}

.nav-link {
    padding-top: 20px;
    margin-right: 40px;
}

.nav-link:hover {
    border-top: 2px solid var(--main-color); 
} 

.nav-link:hover > a {
    color: var(--main-color);
}

/******* Section recherche ********/

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.search-bar > i {
    background-color: var(--main-bg-color);
    color: black;
    padding: 18px 20px 18px 20px;
    border-radius: 15px 0 0 15px;
}

.bar-input{
    padding: 14px 10px 14px 10px;
    border: 1px solid var(--main-bg-color);
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    color: black;
}

.bar-input::placeholder {
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    color: black;
}

.bar-input:focus {
    outline: none;
}

.bar-input:focus::placeholder{
    color: transparent;
}

.bar-button {
    background-color: var(--main-color);
    color: white;
    font-size: 19px;
    font-weight: 700;
    border: 0;
    border-radius: 0 15px 15px 0;
    padding: 14.5px 15px 14.5px 15px;
}

.bar-button:hover {
    cursor: pointer;
}

.bar-button-mobile {
    display: none;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.filter-button {
    font-weight: 700;
    font-size: 17px;
    color: black;
    background-color: white;
    border: 3px solid var(--main-bg-color);
    margin-left: 15px;
    border-radius: 50px;
    padding: 15px 20px 15px 20px;
}

.filter-button > i {
    margin-right: 15px;
}

.filter-button:hover {
    cursor: pointer;
    background-color: var(--filter-bg-color);
}

.info-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.info-bar > i {
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 0 auto;
}

.hebergements {
    width: 65%;
    background-color: var(--main-bg-color)
}

.hebergements-title {
    margin-bottom: 33px;
}

.hebergements-cards .card {
    flex-basis: calc(33.333% - 2%);
    margin-bottom: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }  

.hebergements-cards .card-content {
    padding-left: 8px;
}

.hebergements-cards .card-title{
    margin-bottom: -5px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: -5px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
    background-color: var(--main-bg-color)
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ******/

.activites {
    padding: 30px 30px 70px 30px;
}

.activites-title {
    padding-bottom: 10px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}

.activites-cards .card {
    padding: 0;
    width: 25%;
}

.activites-cards .card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards h4 {
    padding-left: 20px;
    padding-bottom: 10px;
}

/******* Footer *******/

footer {
    background-color: var(--main-bg-color);
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.footer-flex {
    min-width: 33%;
}

.footer-list {
    list-style: none;
    padding-right: 40px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-button{
        margin-left: 0;
        margin-right: 15px;
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        flex-wrap: wrap;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
    }

    .activites-cards h4 {
        padding-bottom: 0;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    /****** General ***********/

    body {
        max-width: 100%;
    }

    .main-container {
        padding: 0;
    }

    /****** Header ********/

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    header > img {
        align-self: center;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .nav-list {
        justify-content: space-around;
        padding: 0;
    }

    .nav-link {
        width: 50%;
        text-align: center;
        margin-right: 0px;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .nav-link:hover {
        border-bottom: 2px solid var(--main-color); 
        border-top: 0px;
    } 

    /******* Section recherche ********/

    .search-zone {
        padding: 0 20px;
    }

    .search-bar {
        justify-content: center;
    }

    .search-bar > i {
        padding: 16px 15px 16px 15px;
    }

    .bar-input{
        text-align: left;
        font-size: 15px;
    }

    .bar-input::placeholder{
        text-align: left;
        font-size: 15px;
    }

    form {
        display: flex;
        justify-content: space-around;
    }

    .bar-button{
        display: none;
    }

    .bar-button-mobile{
        display: inline;
        background-color: var(--main-color);
        border-radius: 20px;
        border: 0px;
        padding: 16px 15px 16px 15px;
        margin-inline-start: -15px;
    }

    .bar-button-mobile > i {
        color:white;
    }

    .filter-bar{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-bar-mobile {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 8px;
        justify-content: space-around;
    }

    .filter-button{
        font-size: 14px;
        margin: 0;
        padding: 15px 10px 15px 10px;
        flex: 1;
        min-width: 130px;
    }

    .filter-button > i {
        margin-right: 10px;
    }

    .info-bar  {
        padding-bottom: 0;
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 20px;
    }

    /****** Populaires *******/

    .populaires{
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card{
        width: auto;
    }

    /***** Hebergements *****/ 

    .hebergements {
        background-color: white;
        flex-direction: column;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards img {
        width: 325px;
        height: 124px;
    }

    /****** Activites ******/

    .activites{
        padding: 0px 30px 65px 30px;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .activites-cards .card {
        width: 100%;
    }

    .activites-cards .card img {
        width: 100%;
        height: 141px;
    }

    /******* Footer *******/

    .footer-container{
        display: flex;
        flex-direction: column;
    }
}