/* 
- Rendre toutes cartes cliquables
- Jouer hauteurs section recherche 
-Box sizing hebergements populaires
*/

/* Hauteur carte hebergements
Ancre activites 
Changer pourcentages width sections pour mobile
inverser pop et hebergements section pour mobile
Change height txt carte hebergements




/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

a {
    text-decoration: none;
    color: black;
}

/****** Header ********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > img {
    width: 80px;
    height: 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
}

.nav-link {
    padding-top: 20px;
    margin-right: 40px;
}

.nav-link:hover {
    border-top: 2px solid var(--main-color); 
} 

.nav-link:hover > a {
    color: var(--main-color);
}
/******* Section recherche ********/

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.search-bar > i {
    background-color: var(--main-bg-color);
    color: black;
    padding: 18px 20px 18px 20px;
    border-radius: 15px 0 0 15px;
}

.bar-input{
    padding: 14px 10px 14px 10px;
    border: 1px solid var(--main-bg-color);
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    color: black;
}

.bar-input::placeholder {
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    color: black;
}

.bar-input:focus {
    outline: none;
}

.bar-input:focus::placeholder{
    color: transparent;
}

.bar-button {
    background-color: var(--main-color);
    color: white;
    font-size: 19px;
    font-weight: 700;
    border: 0;
    border-radius: 0 15px 15px 0;
    padding: 14.5px 15px 14.5px 15px;
}

.bar-button:hover {
    cursor: pointer;
}

.filter-bar {
    display: flex;
    flex-direction: row;
}

.filter-button {
    font-weight: 700;
    font-size: 19px;
    color: black;
    background-color: white;
    border: 3px solid var(--main-bg-color);
    margin-left: 20px;
    border-radius: 50px;
    padding: 0 20px 0 20px;
}

.filter-button > i {
    margin-right: 15px;
}

.filter-button:hover {
    cursor: pointer;
    background-color: var(--filter-bg-color);
}

.info-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-bar > i {
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin: 0;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hebergements-cards .card {
    margin-top: 33px;
}

.hebergements-cards img {
    width: 250px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 8px;
}

.hebergements-cards .card-rating {
    margin-bottom: 15px;
}

.hebergements-link {
    /* align-items: center; */
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ******/

.activites {
    margin: 80px 30px 70px 30px;
}

.activites-title {
    margin-bottom: 40px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activites-cards .card {
    padding: 0;
}

.activites-cards img {
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards h4 {
    padding-left: 20px;
    padding-bottom: 5px;
}

/******* Footer *******/

footer {
    background-color: var(--main-bg-color);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.flex {
    min-width: 33%;
}

.list-footer {
    list-style: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        max-width: 100%
    }
    
    .main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* justify-content: center; */
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        flex-direction: column;

    }
}